<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome" />    
    <!--<add key="browser" value="firefox" />-->
    <add key="HomePageUrl" value="https://www.asos.com"/>
    <add key="StudentDiscountPage" value="/discover/students/asos-on-campus/student-validation/"/>
  </appSettings>
  
</configuration>